<div class="container" id="dialog"> 
    <h2 class="display-4">Wybierz pytania do dodania</h2>
    <table class="table row col-lg-12" id="qustionsTable" >
        <thead class="thead-light">
            <tr>
                <th style="width: 10%" scope="col">#</th>
                <th scope="col">Pytanie</th>
                <th style="width: 10% "scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questions; index as i">
                <th scope="row">{{ i + 1 }}.</th>
                <td>
                    <h5>{{ question.question}}</h5>
                    <div *ngIf="question.type === 'W'">
                        <mat-chip-list >
                            <mat-chip class="correct" *ngFor="let answer of question.answer; index as j" color="warn" selected="{{!answer.isCorrect ? 'true' : 'false'}}">
                                {{ j + 1 }}. {{ answer.content }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div *ngIf="question.type === 'L'">
                        Poprawna odpowiedź to: {{ question.answer[0].content }}
                    </div>
                </td>
                <td>
                <mat-checkbox [checked]="question.selected" (change)="changeQuestionSelected(question)"></mat-checkbox>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row col-lg-12 ">
        <button class="btn btn-success" (click)="onSubmit()">Zatwierdź</button>
    </div>
</div>