<div class="container col-lg-12">
        <div class="row header">
            <h1 class="display-4" *ngIf="status === 'new'">Tutaj możesz przeglądać, usuwać nowe testy kandydatów</h1>
            <h1 class="display-4" *ngIf="status === 'checked'">Tutaj możesz przeglądać, usuwać sprawdzone testy kandydatów</h1>
        </div>
        <div id="panel" class="dataBackground row col-lg-6">
            <div class="row col-lg-12">
                <table class="table col-lg-12">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 10%" scope="col">#</th>
                            <th scope="col">Imie</th>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Email</th>
                            <th scope="col">Test</th>
                            <th style="width: 10% "scope="col">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let test of dataSource; index as i">
                            <th scope="row">{{ i + 1 }}.</th>
                            <td>
                                {{test.name}}
                            </td>
                            <td>
                                {{test.surname}}
                            </td>
                            <td>
                                {{test.email}}
                            </td>
                            <td>
                                {{test.testForm.title}}
                            </td>
                            <td>
                                <button class="btn btn-danger" mat-raised-button (click)="removeFromList(test)">Usuń</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>