<div class="container col-lg-10">
    <div class="row header">
        <h1 class="display-4">Tutaj możesz przeglądać wszystkie testy</h1>
    </div>
    <div class="row col-lg-8" id="panel">
        <table class="table col-lg-12">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa testu</th>
                    <th scope="col">Akcja</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let test of dataSource; index as i" class="">
                    <th scope="row">{{ i + 1 }}.</th>
                    <td>
                        <a [routerLink]="['/recruiter/test-details', test.id]" class="testlist-item">{{ test.title }}</a>
                    </td>
                    <td>
                        <button class="btn btn-danger delete-button"  mat-raised-button (click)="deleteTest(test)">Usuń</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row col-lg-12">
            <button class="btn btn-success" mat-raised-button [routerLink]="['/recruiter/test-create']">Dodaj test</button>
        </div>
    </div>
</div>
