<div class="container col-lg-12">
        <div class="row header">
            <h1 class="display-4" *ngIf="test.title">"{{test.title}}"</h1>
            <h1 class="display-4" *ngIf="!test.title">Tutaj możesz utworzyć nowy test</h1>
        </div>
        <div id="panel" class="row col-lg-6">
            <div class="row message-row col-lg-12" *ngIf="!test.title && pressedSaveButton">
                <div class="col-lg-12">
                    <div class="alert alert-danger">
                        Nie podano nazwy dla testu !!
                    </div>
                </div>
            </div>
            <div class="row message-row col-lg-12" *ngIf="!test.questions[0] && pressedSaveButton">
                <div class="col-lg-12">
                    <div class="alert alert-danger">
                        Nie wybrano żadnych pytań do testu!!
                    </div>
                </div>
            </div>

            <div class="row col-lg-12 form-group">
                <label for="testTitle">Nazwa nowego testu:</label>
                <input [(ngModel)]="test.title" type="text" class="form-control" id="testTitle" aria-describedby="testTitleHelp" placeholder="wpisz tutaj nazwe testu">
                <small id="testTitleHelp" class="form-text text-muted">Prostota to klucz do dobrej nazwy!</small>
            </div>
            <div class="row col-lg-12">
                <button class="btn btn-warning" mat-raised-button (click)="generateRandomQuestions(numberOfRandomQuestions)">Dodaj losowe pytania</button>
                <input [(ngModel)]="numberOfRandomQuestions" type="number" min="1" max="100" class="form-control col-lg-1">
            </div>
            
            <div class="row col-lg-12">
                <table class="table col-lg-12">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 10%" scope="col">#</th>
                            <th scope="col">Pytanie</th>
                            <th style="width: 10% "scope="col">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of test.questions; index as i">
                            <th scope="row">{{ i + 1 }}.</th>
                            <td>
                                <h5>{{ question.question}}</h5>
                                <div>
                                    <mat-chip-list >
                                        <mat-chip class="correct" *ngFor="let answer of question.answer; index as j" color="warn" selected="{{!answer.isCorrect ? 'true' : 'false'}}">
                                            {{ j + 1 }}. {{ answer.content }}
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" mat-raised-button (click)="deleteFromList(question)">Usuń</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="isEmpty" class="row col-lg-12">
                <h4 class="lead">
                    <b>Brak pytań!</b>
                </h4>
           </div>
            <div class="row col-lg-12">
                <div class="row col-lg-6">
                    <button class="btn btn-info float-lg-left" mat-raised-button (click)="showAddQuestionDialog()">Dodaj pytanie</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-success float-lg-right" mat-raised-button (click)="saveTest()">Zapisz test</button>
                </div>
            </div>
        </div>
    </div>
