<button class="btn btn-light" mat-button [matMenuTriggerFor]="menu">
    Menu
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Kandydaci">Kandydaci</button>
    <button mat-menu-item [matMenuTriggerFor]="Testy">Testy</button>
    <button mat-menu-item [matMenuTriggerFor]="Pytania">Pytania</button>
</mat-menu>

<mat-menu #Kandydaci="matMenu">
    <button mat-menu-item routerLink='/recruiter/candidates'>Pokaż kandydatów</button>
</mat-menu>

<mat-menu #Testy="matMenu">
    <button mat-menu-item>Pokaż testy</button>
    <button mat-menu-item>Zarządzaj testami</button>
    <button mat-menu-item>Podsumowania</button>
</mat-menu>

<mat-menu #Pytania="matMenu">
    <button mat-menu-item routerLink='/questions'>Pokaż swoje pytania</button>
    <button mat-menu-item>Pokaż pytania innych egzaminatorów</button>
    <button mat-menu-item>Zarządzaj pytaniami</button>
</mat-menu>