<button class="btn btn-light" mat-button [matMenuTriggerFor]="menu">
    Menu
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Kandydaci">Kandydaci</button>
    <button mat-menu-item [matMenuTriggerFor]="Testy">Testy</button>
    <button mat-menu-item [matMenuTriggerFor]="Pytania">Pytania</button>
    <button mat-menu-item [matMenuTriggerFor]="Rekruterzy">Rekruterzy</button>
</mat-menu>

<mat-menu #Kandydaci="matMenu">
    <button mat-menu-item routerLink='/recruiter/candidates'>Pokaż kandydatów</button>
</mat-menu>

<mat-menu #Testy="matMenu">
    <button mat-menu-item [routerLink]="['/recruiter/tests']" routerLinkActive="active">Pokaż bazę testów</button>
    <button mat-menu-item [matMenuTriggerFor]="ZarzadzajTestamiKandydatow">Zarządzaj testami kandydatów</button>
</mat-menu>

<mat-menu #ZarzadzajTestamiKandydatow="matMenu">
    <button mat-menu-item [routerLink]="['/recruiter/tests-for-users']">Przypisz testy kandydatom</button>
    <button mat-menu-item [routerLink]="['/recruiter/tests-for-users/new']">Pokaż testy przypisane do zrobienia</button>
    <button mat-menu-item [routerLink]="['/recruiter/tests-for-users/solved']">Sprawdź rozwiązane testy</button>
    <button mat-menu-item [routerLink]="['/recruiter/tests-for-users/checked']">Pokaż sprawdzone testy</button>
</mat-menu>

<mat-menu #Pytania="matMenu">
    <button mat-menu-item [routerLink]="['/recruiter/questions']">Pokaż bazę pytań</button>
</mat-menu>


<mat-menu #Rekruterzy="matMenu">
    <button mat-menu-item [routerLink]="['/recruiter/register']">Dodaj rekrutera</button>
</mat-menu>