<div class="container col-lg-12">
    <div class="row header">
        <h1 class="display-4">Tutaj możesz przypisać testy kandydatom</h1>
    </div>
    <div id="panel" class="dataBackground row col-lg-6">
        <div class="row col-lg-12">
            <table class="table col-lg-12">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 10%" scope="col">#</th>
                        <th scope="col">Imie</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Email</th>
                        <th style="width: 10% "scope="col">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <th scope="row">{{ i + 1 }}.</th>
                        <td>
                            {{user.name}}
                        </td>
                        <td>
                            {{user.surname}}
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            <button class="btn btn-info" mat-raised-button (click)="assignTest(user)">Przypisz test</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="row col-lg-12">
            <button class="btn btn-success"  mat-raised-button (click)="openDialog()">Dodaj pytanie</button>
        </div> -->
    </div>
</div>