<div class="container col-lg-6">
    <div class="row header">
        <h2 class="display-4">Rozwiąż test!</h2>
    </div>
    <div class="dataBackground" id="panel">
        <div>
            <div *ngFor="let question of test.testForm.questions; index as i;">
                <div class="question_content">
                <h5>{{ i + 1 }}. {{question.question}}</h5>
                </div>
                <div *ngIf="question.type === 'L'" class="answer">
                    <div class="numberArea row col-lg-12" >
                        <div class="col-lg-12">
                            <label style="margin-right: 20px">Twoja odpowiedź:</label>
                            <input type="number" class="inputnumber" [(ngModel)]="question.answer[0].candidateAnswer">
                        </div>
                        
                    </div>
                    
                </div>
                 <div *ngIf="question.type === 'O'" class="answer">
                    <label for="answer">Twoja odpowiedź:</label>
                    <textarea class="form-control col-lg-8 openAnswer" type="text" [(ngModel)]="openAnswers[i]"></textarea>
                </div>
                
                <div *ngIf="question.type === 'W'" class="answer">
                <div *ngFor="let answer of question.answer; index as j" >
                    <mat-checkbox [checked]="answer.isSelected" (change)="changeAnswerIsSelected(answer)" class="btn answerButton" >
                            {{ j + 1 }}. {{ answer.content }}
                    </mat-checkbox>
                </div>
            </div>
            <hr/>
        </div>
        <div class="row col-lg-12">
            <button class="btn btn-success" (click)="finishTest()">Zatwierdź test</button>
        </div>
       
    </div>
</div>