<div class="container col-lg-10">
  <div class="row header">
    <h1 class="col-lg-8">Tutaj możesz przeglądać oraz dodawać nowych kandydatów</h1>
  </div>
  <div class="dataBackground col-lg-12 row rounded">
    <div class="col-lg-12">
      <button (click)="addCandidate()" class="btn btn-success">Dodaj nowego kandydata</button>
    </div>
    <div class="row col-lg-12">
      <table id="usersTable" class="table table-striped col-lg-11">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Email</th>
          <th scope="col">Usuń</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of usersListCognito; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ element.attributes[2].value }}</td>
          <td>{{ element.attributes[4].value }}</td>
          <td>{{ element.attributes[6].value }}</td>
          <td><button class="btn-danger" (click)="delete(element.Username)">X</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
