<div class="container col-lg-6">
    <div class="row header" *ngIf="checking; else notChecking">
        <h2 class="display-4">Sprawdź i oceń test</h2>
    </div>
    <ng-template #notChecking>
        <h2 class="display-4">Przeglądanie testu<br/>{{test.testForm.title}}</h2>
    </ng-template >
    <div class="dataBackground" id="panel">
        <div>
            <div *ngFor="let question of test.testForm.questions; index as i;">
                <div class="question_content">
                <h5>{{ i + 1 }}. {{question.question}}</h5>
                </div>
                <div *ngIf="question.type === 'L'" class="answer">
                    <div class="numberArea row col-lg-12" >
                        <div class="col-lg-12">
                            <label style="margin-right: 20px">Podana odpowiedź:</label>
                            <input type="number"  [(ngModel)]="question.answer[0].candidateAnswer" disabled class="{{question.answer[0].content === question.answer[0].candidateAnswer ? 'correctNumber' : 'invalidNumber'}}">
                        </div>
                    </div>
                    <div class="numberArea row col-lg-12" >
                            <div class="col-lg-12">
                            <label style="margin-right: 20px">Prawidłowa odpowiedź:</label>
                                <input type="number" class="inputnumber" [(ngModel)]="question.answer[0].content" disabled>
                            </div>
                        </div>   
                </div>

                <div *ngIf="question.type === 'O'" class="answer">
                    <label for="answer">Podana odpowiedź:</label>
                    <div class="col-lg-1" *ngIf="checking">
                        <mat-checkbox [checked]="question.isApproved" (change)="changeQuestionIsApproved(question)">
                            Zalicz
                        </mat-checkbox>
                    </div>
                    <div class="col-lg-3" *ngIf="!checking" style="margin: auto;">
                        <div *ngIf="question.answer[0].isCorrect">
                            <p style="background: red">
                                Nieprawidłowa
                            </p>
                        </div>
                        <div *ngIf="!question.answer[0].isCorrect" style="margin: auto;">
                            <p style="background: green">
                               Prawidłowa
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <textarea class="form-control col-lg-8 openAnswer" type="text" [(ngModel)]="openAnswers[i]" disabled>
                        </textarea>
                    </div>
                </div>

                <div *ngIf="question.type === 'W'" class="choiceanswer">
                    <div *ngFor="let answer of question.answer; index as j" class="{{ answer.isCorrect ? 'correct' : '' }}">
                        <mat-checkbox [checked]="answer.isSelected" (change)="changeAnswerIsSelected(answer)" [disableRipple]="true"
                        (click)="$event.preventDefault()" class="btn answerButton" disable>
                                {{ j + 1 }}. {{ answer.content }}
                        </mat-checkbox>
                    </div>
                </div>

            <hr/>
        </div>
        <div class="row col-lg-12" *ngIf="checking">
            <button class="btn btn-success" (click)="finishTest()">Zatwierdź test</button>
        </div>
        
    </div>
</div>