mat-toolbar-row {
    align-content: center;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000;
    margin-bottom: 25px;
}

button {
    position: absolute;
    right: 1%;
}