<div class="container col-lg-10">
    <div class="row header">
        <h1 class="col-lg-8">Tutaj możesz przeglądać oraz dodawać nowe pytania</h1>
    </div>
    <div class="dataBackground col-lg-12 row rounded">
        <div class="row col-lg-12">
            <mat-accordion class="col-lg-12 ">
                <mat-expansion-panel *ngFor="let question of dataSource; index as i" class="mat-elevation-z0 panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ i + 1 }}. {{ question.question}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p *ngFor="let answer of question.answer; index as j" [className]="answer.isCorrect ? 'correct' : 'incorrect'">{{ j + 1 }}. {{ answer.content }}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="row col-lg-12">
            <button class="btn btn-success" mat-raised-button (click)="openDialog()">Dodaj pytanie</button>
        </div>
    </div>
</div>