html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(#f7a902, #9e0dd8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dataBackground {
    margin: auto;
    background: rgb(245, 245, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
    margin-bottom: 5vh;
}

.container {
    text-align: center;
}